---
import MenuCard from './MenuCard.astro'
import type { Asset } from '@services/get-assets'

interface Props {
    title: string,
    menu: Asset[]
}

const { title, menu } = Astro.props
---

<section class="mb-10 w-full max-w-[1000px] flex flex-col items-center">
    <h2 class="font-semibold text-xl mb-4 py-1 text-white w-full text-center rounded-lg border-solid border-[2px] bg-gray-800">{title}</h2>
    <div class="flex gap-3 md:gap-6 flex-wrap justify-center">
        {
            menu.map(menuItem => {
                const metaData = menuItem?.context?.custom
                return (
                    <MenuCard id={menuItem.asset_id} title={ metaData.name } description={ metaData.description } imgUrl={ menuItem.secure_url } price={ metaData.price } />
                )
            })
        }
    </div>
</section>