---
import MenuCard from './MenuCard.astro'
import type { Menu } from '@utils/lists/menu'

interface Props {
    title: string,
    menu: Menu[]
}

const { title, menu } = Astro.props
---

<section>
    <h2 class="font-semibold text-xl">{title}</h2>
    {
        menu.map(drink => {
            return (
                <MenuCard title={ drink.title } description={ drink.description } imgUrl={ drink.imgUrl } price={ drink.price } />
            )
        })
    }
</section>