---
import Base from '@layouts/Base.astro'
import ContactForm from '@components/ContactForm.astro'
import SocialList from '@components/UI/SocialList.astro'

const seoTags = {
    description: '¿Quieres informarnos algo, o estás interesado en tener una franquicia con nosotros? ¡Contáctanos!',
    keywords: 'contacto, franquicia, redes sociales, facebook, formulario',
}
---

<Base title="Contáctanos" seoTags={seoTags}>
    <main class="relative flex flex-col items-center w-full mt-16">
        <section class="">
            <SocialList className='flex gap-4' classIcons='fill-primary-400 h-10 w-10 transition-transform duration-200 hover:scale-110 hover:drop-shadow-md'>
        </section>
        <ContactForm />
    </main>
</Base>