---
import Base from '@layouts/Base.astro'

const seoTags = {
    description: 'Infórmate acerca de nuestros planes de expansión, y conoce las posibilidades de expandir esta experiencia juntos',
    keywords: 'snowmilk, teas, franquicias, expandir',
}
---

<Base title="Franquicias de Snowmilk" seoTags={seoTags}>
    <main class="flex flex-col items-center py-6 px-5 max-w-[800px] m-auto">
        <h1 class="font-semibold text-xl pb-6 md:text-3xl md:pt-10">
            ¡Únete a Nuestra Familia de Franquicias bubble teas y comida asiática de inspiración Japonesa!
        </h1>
        <a href="/contact" class="bg-purple-400 text-white text-xl px-4 py-2 rounded-[20px] hover:bg-purple-600 duration-200 shadow-[2px_3px_0_1px_#7928A7]">
            Contáctanos
        </a>
        <section class="w-full flex flex-col items-start md:gap-2">
            <article>
                <header>
                    <h2 class="font-semibold mt-4 mb-2 md:text-xl">
                        Introducción: Descubre el encanto de nuestra marca
                </header>
                <main>
                    <p class="">
                        Es un placer presentarte nuestra emocionante oportunidad de franquicia en la vibrante y bulliciosa Ciudad de México. En Snowmilk Teas, hemos creado un destino único que fusiona la esencia del estilo japonés kawaii con la magia y la imaginación de Studio Ghibli, todo enmarcado en un entorno acogedor y lleno de calidez.
                    </p>
                </main>
            </article>

            <article>
                <header>
                    <h2 class="font-semibold mt-4 mb-2 md:text-xl">
                        Nuestra marca: Una experiencia como ninguna otra
                    </h2>
                </header>
                <main>
                    <p class="">
                        En el corazón de nuestra marca está la pasión por ofrecer una experiencia memorable a cada uno de nuestros clientes. Inspirados por la estética encantadora y lúdica del kawaii, así como por la rica narrativa de las películas de Studio Ghibli, hemos creado un ambiente mágico que transporta a nuestros visitantes a un mundo de fantasía y deliciosos sabores.
                    </p>
                </main>
            </article>

            <article>
                <header>
                    <h2 class="font-semibold mt-4 mb-2 md:text-xl">
                        ¿Por qué elegir nuestra franquicia?
                    </h2>
                </header>
                <main>
                    <ol class="ml-8">
                        <li>
                            <b>Concepto Único:</b>
                            <p>
                                Nos destacamos en el competitivo mercado de cafeterías y restaurantes ofreciendo un concepto verdaderamente único y diferenciado. Nuestro enfoque en la estética kawaii y la temática de Studio Ghibli garantiza que nuestros establecimientos se destaquen entre la multitud y atraigan a una amplia base de clientes.
                            </p>
                        </li>
                        <li>
                            <b>Productos exclusivos:</b>
                            <p>
                                Nos destacamos en el competitivo mercado de cafeterías y restaurantes ofreciendo un concepto verdaderamente único y diferenciado. Nuestro enfoque en la estética kawaii y la temática de Studio Ghibli garantiza que nuestros establecimientos se destaquen entre la multitud y atraigan a una amplia base de clientes.
                            </p>
                        </li>
                        <li>
                            <b>Cultura de marca y comunidad:</b>
                            <p>
                                En Snowmilk Teas, no solo vendemos productos, creamos experiencias. Nuestro equipo está comprometido en cultivar una cultura de marca cálida y acogedora, donde cada cliente se sienta parte de nuestra familia. Además, fomentamos una comunidad activa y comprometida a través de eventos especiales, promociones y colaboraciones con artistas locales.
                            </p>
                        </li>
                        <li>
                            <b>Soporte integral:</b>
                            <p>
                                Como franquiciado, recibirás un sólido apoyo en todas las etapas de tu viaje empresarial. Desde la selección del lugar y el diseño del local hasta la formación del personal y la comercialización, nuestro equipo experimentado está aquí para guiarte y brindarte las herramientas que necesitas para tener éxito.
                            </p>
                        </li>
                    </ol>
                </main>
            </article>

            <article>
                <header>
                    <h2 class="font-semibold mt-4 mb-2 md:text-xl">
                        Únete a nuestra familia
                    </h2>
                </header>
                <main>
                    <p>
                        Si compartes nuestra pasión por la excelencia, la creatividad y la hospitalidad, te invitamos a explorar la emocionante oportunidad de unirte a nuestra familia de franquicias. Juntos, podemos llevar la magia de Snowmilk Teas a nuevas alturas y deleitar a los amantes del té de burbujas y la cultura japonesa en toda la Ciudad de México.
                        Para obtener más información sobre cómo convertirte en un franquiciado, no dudes en ponerte en contacto con nuestro equipo hoy mismo. ¡Esperamos dar la bienvenida a tu espíritu emprendedor y compartir juntos el éxito!
                    </p>
                </main>
            </article>
        </section>
    </main>
</Base>

<style>
    ol li {
        list-style-type: decimal;
    }

    @keyframes slow-shake {
        from {
            transform: rotate(-5deg);
        }

        50% {
            transform: rotate(5deg);
        }

        to {
            transform: rotate(-5deg);
        }
    }

    .contact-button {
        animation: slow-shake 2s infinite;
    }
</style>