---
import Base from '@layouts/Base.astro'
import ShortcutCardList from '@components/UI/ShortcutCardList.astro'
import ContentCard from '@components/UI/ContentCard.astro'
import MainCarousel from '@components/MainCarousel.astro'
import { carouselImgs } from '@utils/lists/carousel'

const seoTags = {
	description: 'Somos Snowmilk Teas, conócenos y disfruta de la mejor experiencia en comida y bubble teas al estilo japonés',
	keywords: 'snowmilk, nosotros, comida, bebidas, presentación'
}
---

<Base title="Snowmilk" seoTags={seoTags}>
	<main class="relative bg-white">
		<MainCarousel className='top-header-mobile md:top-header' imgs={carouselImgs}></MainCarousel>

		<div class="relative bg-white z-30 pt-12">
			<ShortcutCardList className=''></ShortcutCardList>
			
			<section class="about w-full px-8 mt-8 flex flex-col gap-5 bg-purple-300">
				<ContentCard textAlign='left' className='transition-transform duration-200 hover:rotate-2 md:hover:rotate-1'>
					<p>
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius laborum rerum repellat at optio magni
					</p>
				</ContentCard>
				<ContentCard textAlign='right' className='transition-transform duration-200 hover:-rotate-2 md:hover:-rotate-1'>
					<p class="text-end">
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius laborum rerum repellat at optio magni
					</p>
				</ContentCard>
				<ContentCard textAlign='left' className='transition-transform duration-200 hover:rotate-2 md:hover:rotate-2'>
					<p>
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius laborum rerum repellat at optio magni
					</p>
				</ContentCard>
			</section>

			<section class="flex justify-center items-center bg-purple-100 p-5 aspect-video md:aspect-[10/3.5]">
				Más contenido aquí
			</section>
			
		</div>
	</main>
	<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
</Base>