---
import Base from '@layouts/Base.astro'
import ShortcutCardList from '@components/UI/ShortcutCardList.astro'
import ContentCard from '@components/UI/ContentCard.astro'
import MainCarousel from '@components/MainCarousel.astro'

const seoTags = {
	description: 'Somos Snowmilk Teas, conócenos y disfruta de la mejor experiencia en comida y bubble teas al estilo japonés',
	keywords: 'snowmilk, nosotros, comida, bebidas, presentación'
}

const carouselImgs = [
	{
		url: '/assets/img/carousel/yellow.png',
		alt: 'Image #1'
	},
	{
		url: '/assets/img/carousel/blue.png',
		alt: 'Image #2'
	},
	{
		url: '/assets/img/carousel/green.png',
		alt: 'Image #3'
	},
	{
		url: '/assets/img/carousel/purple.png',
		alt: 'Image #3'
	},
	{
		url: '/assets/img/carousel/brown.png',
		alt: 'Image #4'
	},
	{
		url: '/assets/img/carousel/snowmilk.jpg',
		alt: 'Image #5'
	}
]
---

<Base title="Snowmilk" seoTags={seoTags}>
	<main class="relative bg-white">
		<MainCarousel className='top-header-mobile md:top-header' imgs={carouselImgs}></MainCarousel>

		<div class="relative bg-white z-30 pt-12">
			<ShortcutCardList className=''></ShortcutCardList>
			
			<section class="about w-full px-8 my-8 flex flex-col gap-5 bg-purple-300">
				<ContentCard textAlign='left'>
					<p>
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius laborum rerum repellat at optio magni
					</p>
				</ContentCard>
				<ContentCard textAlign='right'>
					<p class="text-end">
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius laborum rerum repellat at optio magni
					</p>
				</ContentCard>
				<ContentCard textAlign='left'>
					<p>
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius laborum rerum repellat at optio magni
					</p>
				</ContentCard>
			</section>
			
		</div>
	</main>
	<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
</Base>