---
import Base from '@layouts/Base.astro'
import ShortcutCardList from '@components/UI/ShortcutCardList.astro'
import ContentCard from '@components/UI/ContentCard.astro'
import MainCarousel from '@components/MainCarousel.astro'
import { carouselImgs } from '@utils/lists/carousel'

const seoTags = {
	description: 'Somos Snowmilk Teas, conócenos y disfruta de la mejor experiencia en comida y bubble teas al estilo japonés',
	keywords: 'snowmilk, nosotros, comida, bebidas, presentación'
}
---

<Base title="Snowmilk" seoTags={seoTags}>
	<main class="relative bg-white">
		<h1 class="visually-hidden">Bienvenido a snowmilk</h1>
		<MainCarousel className='top-header-mobile md:top-header' imgs={carouselImgs}></MainCarousel>

		<section class="relative bg-white z-30 pt-12">
			<p class="flex p-3">
				<a class="flex" href="https://maps.app.goo.gl/HU55UDg7copS4TFd7" target="_blank">
					<svg class="w-4 mr-2 hover:animate-vertical-bounce fill-primary-400" viewBox="0 0 384 512"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
					Hamburgo 66-Local B, Juárez, Cuauhtémoc (CDMX)
				</a>
			</p>

			<ShortcutCardList className=''></ShortcutCardList>
			
			<div class="about w-full px-8 mt-8 py-10 flex flex-col gap-5 bg-purple-300">
				<ContentCard textAlign='left' className='transition-transform duration-200 hover:rotate-2 md:hover:rotate-1'>
					<p>
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius laborum rerum repellat at optio magni
					</p>
				</ContentCard>
				<ContentCard textAlign='right' className='transition-transform duration-200 hover:-rotate-2 md:hover:-rotate-1'>
					<p class="text-end">
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius laborum rerum repellat at optio magni
					</p>
				</ContentCard>
				<ContentCard textAlign='left' className='transition-transform duration-200 hover:rotate-2 md:hover:rotate-2'>
					<p>
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius laborum rerum repellat at optio magni
					</p>
				</ContentCard>
			</div>
			
		</section>

		<!-- Static image -->
		<section id="scnd-fixed-img" class="fixed top-[10%] -z-10 w-full flex justify-center items-center">
			<picture>
				<!-- This must be a large height image -->
				<img src="/assets/img/test-static.jpg" alt="">
			</picture>
		</section>

		<!-- Container with transparent background -->
		<section id="transparent-component" class="relative flex flex-col md:flex-row justify-center flex-wrap bg-transparent items-center bg-red-100 p-5">
			<div class="flex justify-center items-center text-center bg-white aspect-square w-full md:max-w-[50%] md:aspect-video shadow-xl rounded-lg p-3 mb-3">Some text or image here</div>
			<div class="flex justify-around items-center flex-wrap gap-2 gap-y-4">
				<div class="flex justify-center items-center text-center w-[40%] aspect-square md:max-w-[30%] bg-white shadow-xl rounded-lg p-3">Some text or image here</div>
				<div class="flex justify-center items-center text-center w-[40%] aspect-square md:max-w-[30%] bg-white shadow-xl rounded-lg p-3">Some text or image here</div>
				<div class="flex justify-center items-center text-center w-[40%] aspect-square md:max-w-[30%] bg-white shadow-xl rounded-lg p-3">Some text or image here</div>
				<div class="flex justify-center items-center text-center w-[40%] aspect-square md:max-w-[30%] bg-white shadow-xl rounded-lg p-3">Some text or image here</div>
			</div>
		</section>

		<section class="relative z-10 flex justify-center items-center">
			<div class="flex justify-center items-center w-full bg-gray-700 aspect-video md:aspect-[10/3.5]">
				Another section
			</div>
			<div class="flex justify-center items-center w-full bg-gray-800 aspect-video md:aspect-[10/3.5]">
				Another section
			</div>
		</section>

		<section class="relative z-10 flex justify-center bg-gray-600 items-center aspect-video md:aspect-[10/3.5]">
			Another section
		</section>
	</main>

	<script is:inline transition:persist data-astro-rerun src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
</Base>

<script>
	function elementIsVisibleInScreen (element: HTMLElement) {
		const rect = element.getBoundingClientRect();
		return (
			rect.bottom >= 0 &&
			rect.top <= (window.innerHeight || document.documentElement.clientHeight)
		)
	}

	function modifyZIndex() {
		const transparentComponent = document.getElementById('transparent-component')
		const carousel = document.getElementById('default-carousel')
		const secondImageFixed = document.getElementById('scnd-fixed-img')

		if (elementIsVisibleInScreen(transparentComponent)) {
			carousel.style.zIndex = '-50'
			secondImageFixed.style.zIndex = '0'
		} else {
			carousel.style.zIndex = '0'
			secondImageFixed.style.zIndex = '-50'
		}
	}

	window.addEventListener('scroll', modifyZIndex);
</script>