---
import Base from '@layouts/Base.astro'

const seoTags = {
	description: 'Somos Snowmilk Teas, conócenos y disfruta de la mejor experiencia en comida y bubble teas al estilo japonés',
	keywords: 'snowmilk, nosotros, comida, bebidas, presentación'
}
---

<Base title="Snowmilk" seoTags={seoTags}>
	<!-- <main class="">
		<div class="block bg-fixed w-full max-h-[50vh] aspect-[4/3] bg-red-400" style="background-image: url('https://www.dondeir.com/wp-content/uploads/2023/07/snowmilk-teas-cafeteria-inspirada-en-el-viaje-de-chihiro-en-cdmx.jpg')">
		</div>
		<div class="bg-white p-5">
			<p class="">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum neque officiis placeat in inventore distinctio eaque magnam excepturi voluptas exercitationem architecto, eum, consectetur saepe asperiores ullam quibusdam dignissimos unde possimus? Similique amet voluptate sit soluta enim? Nulla suscipit, totam amet reprehenderit animi quisquam assumenda excepturi nostrum nisi libero. Officiis facilis laborum aliquam at illo accusantium consequuntur cupiditate assumenda laboriosam optio dignissimos eveniet voluptatem sequi voluptates fugiat, vero harum? Quo, et ut in, eos enim neque sapiente pariatur fuga praesentium dolorem blanditiis dolorum quisquam deleniti mollitia quia! Quidem excepturi fugit sequi accusantium earum aliquam quis saepe? Eligendi, adipisci maxime? Sequi, perferendis?
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum neque officiis placeat in inventore distinctio eaque magnam excepturi voluptas exercitationem architecto, eum, consectetur saepe asperiores ullam quibusdam dignissimos unde possimus? Similique amet voluptate sit soluta enim? Nulla suscipit, totam amet reprehenderit animi quisquam assumenda excepturi nostrum nisi libero. Officiis facilis laborum aliquam at illo accusantium consequuntur cupiditate assumenda laboriosam optio dignissimos eveniet voluptatem sequi voluptates fugiat, vero harum? Quo, et ut in, eos enim neque sapiente pariatur fuga praesentium dolorem blanditiis dolorum quisquam deleniti mollitia quia! Quidem excepturi fugit sequi accusantium earum aliquam quis saepe? Eligendi, adipisci maxime? Sequi, perferendis?
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum neque officiis placeat in inventore distinctio eaque magnam excepturi voluptas exercitationem architecto, eum, consectetur saepe asperiores ullam quibusdam dignissimos unde possimus? Similique amet voluptate sit soluta enim? Nulla suscipit, totam amet reprehenderit animi quisquam assumenda excepturi nostrum nisi libero. Officiis facilis laborum aliquam at illo accusantium consequuntur cupiditate assumenda laboriosam optio dignissimos eveniet voluptatem sequi voluptates fugiat, vero harum? Quo, et ut in, eos enim neque sapiente pariatur fuga praesentium dolorem blanditiis dolorum quisquam deleniti mollitia quia! Quidem excepturi fugit sequi accusantium earum aliquam quis saepe? Eligendi, adipisci maxime? Sequi, perferendis?
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum neque officiis placeat in inventore distinctio eaque magnam excepturi voluptas exercitationem architecto, eum, consectetur saepe asperiores ullam quibusdam dignissimos unde possimus? Similique amet voluptate sit soluta enim? Nulla suscipit, totam amet reprehenderit animi quisquam assumenda excepturi nostrum nisi libero. Officiis facilis laborum aliquam at illo accusantium consequuntur cupiditate assumenda laboriosam optio dignissimos eveniet voluptatem sequi voluptates fugiat, vero harum? Quo, et ut in, eos enim neque sapiente pariatur fuga praesentium dolorem blanditiis dolorum quisquam deleniti mollitia quia! Quidem excepturi fugit sequi accusantium earum aliquam quis saepe? Eligendi, adipisci maxime? Sequi, perferendis?
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum neque officiis placeat in inventore distinctio eaque magnam excepturi voluptas exercitationem architecto, eum, consectetur saepe asperiores ullam quibusdam dignissimos unde possimus? Similique amet voluptate sit soluta enim? Nulla suscipit, totam amet reprehenderit animi quisquam assumenda excepturi nostrum nisi libero. Officiis facilis laborum aliquam at illo accusantium consequuntur cupiditate assumenda laboriosam optio dignissimos eveniet voluptatem sequi voluptates fugiat, vero harum? Quo, et ut in, eos enim neque sapiente pariatur fuga praesentium dolorem blanditiis dolorum quisquam deleniti mollitia quia! Quidem excepturi fugit sequi accusantium earum aliquam quis saepe? Eligendi, adipisci maxime? Sequi, perferendis?
			</p>
		</div>
	</main> -->
</Base>