---
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import Menu from './Menu.astro'
---
<header class="fixed bg-primary-350 h-header w-full flex justify-start gap-10 items-center z-40 shadow-[0px_4px_7px_1px_#BA13203E]">
    <aside class="max-w-5xl flex items-center justify-between w-full px-6 mx-auto">
        <h1 class="font-madimi text-3xl px-4">
            <a href="/" class="text-white">Snowmilk</a>
        </h1>
        <Menu></Menu>
    </aside>
</header>