---
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import Menu from './Menu.astro'
---
<header class="fixed bg-primary-350 min-h-header-mobile w-full flex justify-start gap-10 items-center z-50 shadow-[0px_4px_7px_1px_#BA13203E] md:min-h-header">
    <aside id="header-aside" class="max-w-5xl flex items-center justify-between w-full px-6 mx-auto">
        <h1 class="font-madimi text-3xl md:text-4xl px-4">
            <a href="/" class="text-white hover:drop-shadow-lg">Snowmilk</a>
        </h1>
        <Menu></Menu>
    </aside>
</header>