---
import FooterMenuItem from './FooterMenuItem.astro'
import SocialList from '@components/UI/SocialList.astro'
import { sitePaths } from '@utils/lists/sitePaths';

---
<footer class="flex flex-col justify-center items-center bg-purple-500 relative h-footer px-3 py-8">
    <section>
        <h2 class="font-[madimi] text-primary-200 text-xl">
            Snowmilk Teas
        </h2>
    </section>
    <main class="flex items-center justify-between px-3 w-full md:flex-col">
        <!-- Navigation menu -->
        <nav>
            <ul class="flex flex-col text-primary-100 md:flex-row md:justify-center md:gap-10">
                {
                    sitePaths.map(sitePath => {
                        return (
                            sitePath.appearsIn.includes('footer')?
                            <FooterMenuItem url={ sitePath.url }>{ sitePath.name }</FooterMenuItem>
                            :
                            null
                        )
                    })
                }
            </ul>
        </nav>
        <!-- Social networks -->
        <nav class="mt-3">
            <SocialList className='w-16 grid grid-cols-2 justify-center gap-2 md:gap-5 md:flex' classIcons="fill-primary-100 h-6 w-6 hover:scale-105">
        </nav>
    </main>
</footer>