---
import ShortcutCard from './ShortcutCard.astro'
---

<section class="flex flex-wrap justify-center gap-3 py-5 lg:gap-28 z-0">
    <ShortcutCard title="Menú">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tools-kitchen-2" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M19 3v12h-5c-.023 -3.681 .184 -7.406 5 -12zm0 12v6h-1v-3m-10 -14v17m-3 -17v3a3 3 0 1 0 6 0v-3" />
        </svg>
    </ShortcutCard>
    <ShortcutCard title="Experiencia">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-polaroid" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
            <path d="M4 16l16 0" />
            <path d="M4 12l3 -3c.928 -.893 2.072 -.893 3 0l4 4" />
            <path d="M13 12l2 -2c.928 -.893 2.072 -.893 3 0l2 2" />
            <path d="M14 7l.01 0" />
        </svg>
    </ShortcutCard>
    <ShortcutCard title="">
        
    </ShortcutCard>
    <ShortcutCard title="">
        
    </ShortcutCard>
</section>